
#boton-facebook{
	background: url('login-facebook.png');
	background-size: 100%;
	background-repeat: no-repeat;
	color: #fff;
	display: table-cell;
	border-radius: 3px;
	padding: 5px 0px 5px 0px;
	cursor: pointer;
	height: 84px;
	width: 300px;
	text-transform: none;
	vertical-align: center;
}
#boton-facebook:hover{ 
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
}